.navbar.navbar-expand-lg.navbar-light
    .text-center.d-lg-none.w-100
        button.navbar-toggler.dropdown-toggle(type='button', data-toggle='collapse', data-target='#navbar-footer')
            i.icon-unfold.mr-2
            | 						Footer
    #navbar-footer.navbar-collapse.collapse
        span.navbar-text
            | © 2020
            a(href='#') Advance POS
            |  by 
            a(href='http://themeforest.net/user/Kopyov', target='_blank') King
        ul.navbar-nav.ml-lg-auto
            li.nav-item
                a.navbar-nav-link(href='https://kopyov.ticksy.com/', target='_blank')
                    i.icon-lifebuoy.mr-2
                    |  Support
            li.nav-item
                a.navbar-nav-link(href='http://demo.interface.club/limitless/docs/', target='_blank')
                    i.icon-file-text2.mr-2
                    |  Docs