.page-header.page-header-light
    //- .page-header-content.header-elements-md-inline
    //-     .page-title.d-flex
    //-         h4
    //-             i.icon-arrow-left52.mr-2
    //-             span.font-weight-semibold Starters
    //-             |  - Boxed Layout
    //-         a.header-elements-toggle.text-default.d-md-none(href='#')
    //-             i.icon-more
    //-     .header-elements.d-none
    //-         a.btn.btn-labeled.btn-labeled-right.bg-primary(href='#')
    //-             | Button 
    //-             b
    //-                 i.icon-menu7
    .breadcrumb-line.breadcrumb-line-light.header-elements-md-inline
        .d-flex
            .breadcrumb
                a.breadcrumb-item(href='index.html')
                    i.icon-home2.mr-2
                    |  Home
                a.breadcrumb-item(href='#') Link
                span.breadcrumb-item.active Current
            a.header-elements-toggle.text-default.d-md-none(href='#')
                i.icon-more
        .header-elements.d-none
            .breadcrumb.justify-content-center
                a.breadcrumb-elements-item(href='#')
                    | Link
                .breadcrumb-elements-item.dropdown.p-0
                    a.breadcrumb-elements-item.dropdown-toggle(href='#', data-toggle='dropdown')
                        | Dropdown
                    .dropdown-menu.dropdown-menu-right
                        a.dropdown-item(href='#') Action
                        a.dropdown-item(href='#') Another action
                        a.dropdown-item(href='#') One more action
                        .dropdown-divider
                        a.dropdown-item(href='#') Separate action
