extends ../../layout


block content  

    .card.border-dark
        .card-header.header-elements-inline
            h4.card-title Sales
            .header-element
        .card-body
            .row
                .col-md-4
                .col-md-8
                    form(action="/sales/table-sales", method="get")#sales-form
                        .row 
                            .col-md-5 
                                label(for="from") From
                                input(type="date" name="from").form-control.form-control-sm
                            .col-md-4 
                                label(for="from") To
                                input(type="date" name="to").form-control.form-control-sm
                            .col-md-3
                                br
                                button.btn.btn-primary(type="submit") 
                                    i.fa.fa-search 
                                    |   Search
                            
            hr 
            table.table.table-striped.table-hover#table-sales(style="width:100%")



block page-script 
    script(src="/pos_js/page_sales.js")