extends ../../layout


block content  

    .card.border-dark
        .card-header.header-elements-inline
            h4.card-title Product List

            .header-element 
                a.btn.btn-primary.text-white(href="/products/add-update" style="cursor:pointer;")
                    i.fa.fa-plus 
                    |   ADD NEW PRODUCT
                    

        .card-body
            .row 
                .col-md-9
                .col-md-3
                    select#select-cat.form-control 
                        option(value="") ALL-->
                        each cat in category
                            option(value=cat.name)=cat.name
            .table-responsive 
                table#product-table.table.table-stripted.table-hover(style="width:100%") 
                   

block page-script   
    script(src="/pos_js/page_products.js")
